<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<div id="verde"></div>
<div id="gris"></div>
<div id="texto">
    <h1>Zona Fit GYM</h1>
    <div id="linea"></div>
    <p>Unete a formar parte de una gran familia</p>
</div>