h1{
    font-size: 3vh;
	width:50%;
    height:auto;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	max-width: 100%; 
	top:30%
}

.container{
    width: 50%;
	height:auto;
	left: 50%;
	position: absolute;
	background: transparent;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 1px solid #2d9fd9;
  	padding: 10px;
  	border-radius: 20px 20px;
	max-width: 100%; 
	top: 60%;
}

.boton{
	width: 100%;
	height:auto;
	left: 50%;
	position: absolute;
	background: transparent;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
  	padding: 10px;
  	border-radius: 20px 20px;
	width: 100px; 
	top: 107%;
} 