<LINK REL=StyleSheet HREF="/css/gimnasio/editar.css" TYPE="text/css" MEDIA=screen>

<div id="contenido">
    <form action="/gimnasio/agregar" method="post">

        <label id="Inscripcion">Datos del Gimnasio</label>

        <div id="nombres">
            <label id="cero">Nombre</label>
            <input type="text" name="nombre" id="cero" checked>
        </div>
        <div id="inscripciones">
            <label id="uno">Inscripción</label>
            <textarea name="inscripcion" id="descripcion" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="600"></textarea>
        </div>
        <div id="mensualidades">
            <label id="dos">Mensualidad</label>
            <textarea name="mensualidad" id="mensualidad" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="600"></textarea>
        </div>
        <div id="horarios">
            <label id="tres">Horarios</label>
            <textarea name="horario" id="horario" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="15"></textarea>
        </div>
        <div id="bajas">
            <label id="cuatro">Bajas</label>
            <textarea name="bajas" id="baja" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="600"></textarea>
        </div>
        <div id="higienes">
            <label id="cinco">Higiene</label>
            <textarea name="higiene" id="higiene" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="600"></textarea>
        </div>
        <div id="seguridades">
            <label id="seis">Seguridad</label>
            <textarea name="seguridad" id="seguridad" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="600"></textarea>
        </div>
        <div id="contactos">
            <label id="siete">Contatos</label>
            <input type="text" name="contacto" id="contacto" checked>
        </div>
        <div id="direcciones">
            <label id="ocho">Direcciones</label>
            <textarea name="direccion" id="direccion" cols="30" rows="10" placeholder="Agregar texto" spellcheck="true" maxlength="600"></textarea>
        </div>
        <div id="estados">
            <label id="estado">Estados</label>
            <input type="text" name="estado" id="estado" value="abierto" readonly>
        </div>
        <div id="Boton1">
            <button type="submit" id="edita"><img src="/img/guardar.png" id="imagen1"></button>
        </div>
    </form> 
</div>