<LINK REL=StyleSheet HREF="/css/login.css" TYPE="text/css" MEDIA=screen>
<div id="posicion">
    <img src="/img/logo.png" id="imagen">
</div>

<form action="/login" method="post">
    <div id= "cotenedor">
        <div>
            <label id="Usuario">Nombre de usuario:</label>
            <input type="text" name="username" id="usuario">
        </div>
        <div>
            <label id="Contraseña">Contraseña:</label>
            <input type="password" name="password" id="contraseña">
        </div>
        <div>
            <button type="submit" id="boton">Ingresar</button>
        </div>
        <div>
            <a href="/registro">Registrate</a>
        </div>
    </div>
</form>
