<LINK REL=StyleSheet HREF="/css/salud/editar.css" TYPE="text/css" MEDIA=screen>

<div class="text-center">
    <h1 class="responsive1" style="color:black; top:15%">Ingresar datos de la información de la salud del Cliente</h3>
</div>

<form action="/salud/agregar" method="post">
    <div class="container">
        <div class="">
            <label class="col">Lesiones ocias:</label>
            <input type="text" name="lesion_ocia" class="form-control" id="ocia" checked>
        </div>
        <div class="">
            <label class="col-lg-auto">Lesiones musculares:</label>
            <input type="text" name="lesion_muscular" class="form-control" id="muscular" checked>
        </div>
        <div class="">
            <label class="col">Enfermedades:</label>
            <input type="text" name="enfermedad" class="form-control" id="enfermedad" checked>
        </div>
        <div class="">
            <label class="col-lg-auto">Vicios:</label>
            <input type="number" name="vicios" class="form-control" id="vicio" checked>
        </div>
        <div class="">
            <label class="col">Embarazos:</label>
            <input type="number" name="embarazo" class="form-control" id="embarazo" checked>
        </div>
        <div class="">
            <label class="col-lg-auto">Dificultades:</label>
            <input type="text" name="dificultades" class="form-control" id="dificultad" checked>
        </div>
        <div class="">
            <label class="col">Actividades deportivas:</label>
            <input type="text" name="actividad_deportiva" class="form-control" id="actividad" checked>
        </div>
        <div class="">
            <label class="col-lg-auto">¿Asistia a un gimnasio u entidad deportiva?:</label>
            <input type="text" name="entidad" class="form-control" id="entidad" checked>
        </div>
        <div class="boton">
            <button type="submit"><img src="/img/guardar.png" class="guardar" style="width: 80%;"></button>
        </div>
    </div>
</form>