<LINK REL=StyleSheet HREF="/css/salud/agregar.css" TYPE="text/css" MEDIA=screen>
<div id="img">
    <img src="/img/gimnasio.jpg">
</div>
<div id="gris">
            <label id="Inscripcion">Datos de la información de la salud del Cliente</label>
</div>
<div id="contenido">
    <form action="/salud/agregar/{{user.idUsuario}}" method="post">
        <div id="ocias">
            <label id="uno">Lesiones ocias:</label>
            <input type="text" name="lesion_ocia" id="ocia" checked>
        </div>
        <div id="musculares">
            <label id="dos">Lesiones musculares:</label>
            <input type="text" name="lesion_muscular" id="muscular" checked>
        </div>
        <div id="enfermedades">
            <label id="tres">Enfermedades:</label>
            <input type="number" name="enfermedad" id="enfermedad" checked>
        </div>
        <div id="vicios">
            <label id="cuatro">Vicios:</label>
            <input type="number" name="vicios" id="vicio" checked>
        </div>
        <div id="embarazos">
            <label id="cinco">Embarazos:</label>
            <input type="number" name="embarazo" id="embarazo" checked>
        </div>
        <div id="dificultades">
            <label id="seis">Dificultades:</label>
            <input type="text" name="dificultades" id="dificultad" checked>
        </div>
        <div id="actividades">
            <label id="siete">Actividades deportivas:</label>
            <input type="text" name="actividad_deportiva" id="actividad" checked>
        </div>
        <div id="entidades">
            <label id="ocho">¿Asistia a un gimnasio u entidad deportiva?:</label>
            <input type="text" name="entidad" id="entidad" checked>
        </div>
        <div id="Boton1">
            <button type="submit" id="edita"><img src="/img/guardar.png" id="imagen1"></button>
        </div>
    </form>
</div>