<LINK REL=StyleSheet HREF="/css/instructor/agregar.css" TYPE="text/css" MEDIA=screen>
<div id="img">
    <img src="/img/gimnasio.jpg">
</div>
<div id="gris">
    <label id="datos">Datos del instructor</label>
</div>
<div id="contenido">
    <form action="/instructor/agregar/{{user.idUsuario}}" method="post">
        <div id="nombres">
            <label id="uno">Nombres:</label>
            <input type="text" name="nombres" id="nombre" checked>
        </div>
        <div id="apellidos">
            <label id="dos">Apellidos:</label>
            <input type="text" name="apellidos" id="apellido" checked>
        </div>
        <div id="cedulas">
            <label id="tres">Cédula:</label>
            <input type="number" name="cedula" id="cedula" checked>
        </div>
        <div id="edades">
            <label id="cuatro">Edad:</label>
            <input type="number" name="edad" id="edad" checked>
        </div>
        <div id="telefonos">
            <label id="cinco">Teléfono</label>
            <input type="number" name="telefono" id="telefono" checked>
        </div>
        <div id="titulos">
            <label id="seis">Título:</label>
            <select name="titulo" id="titulo" checked>
                {{#each lista}}
                <option value="{{this.nombre}}">{{this.nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div id="años">
            <label id="siete">Años de experiencia:</label>
            <input type="text" name="añosExperiencia" id="año" checked>
        </div>
        <div id="descripciones">
            <label id="ocho">Descripción:</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" rows="10" spellcheck="true"
                maxlength="600"></textarea>
        </div>
        <div id="Boton1">
            <button type="submit" id="edita"><img src="/img/guardar.png" id="imagen1"></button>
        </div>
    </form>
</div>