<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>

<div class="responsive" style="top:30%">>
    <div class="text-center">
        <img src="img/inicio/Bienvenido.png" class="img-fluid rounded mx-auto d-block">
    </div>
</div> 