<link rel="stylesheet" href="/css/inicio.css">

<form action="/inicio" method="post">
    <div class="responsive" style="top:30%">>
        <div class="text-center">
            <img src="img/inicio/Bienvenido.png" class="img-fluid rounded mx-auto d-block">
        </div>
    </div> 
</form>
 