<link rel="stylesheet" href="/css/inicio.css">

<div id="contenedor">
    <form action="/inicio" method="post">
        <div id="bienvenido">
            <img src="/img/Bienvenido.png" > 
        </div>
        <div id="gimnasio">
            <label>Por favor registre su Gimnasio</label>
            <button id="boton">
                <a id="registra" href="/gimnasio/agregar/{{user.idUsuario}}">Registrar</a>
            </button>
        </div>
    </form>
</div>