<link rel="stylesheet" href="/css/usuario/actualizar.css">
<div id="login">
    <img src="/img/login.jpg">
</div>
<div id="azul"></div>
<div id="avatar">
    <img src="/img/avatar.png">
</div>
{{#each trae}}
<form action="/actualizar/{{idUsuario}}" method="post">
    {{/each}}
    <div id="contenido">
        <div id="Password">
            <label>Nueva Contrase単a</label>
            <input type="password" name="password" id="contrase単a" required>
            <button id="noVer" onclick="contrasena.ocultarPassword()" type="button">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver" onclick="contrasena.mostrarPassword()" type="button">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Password1">
            <label>Repetir Nueva Contrase単a</label> <p id="mensaje"></p>
            <input type="password" name="" id="repetir" onkeyup="contrasena.validarPassword()" required>
            <button id="noVer1" onclick="contrasena.ocultarPassword1()" type="button">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver1" onclick="contrasena.mostrarPassword1()" type="button">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Boton">
            <button type="submit">Actualizar</button>
        </div>
    </div>
</form>

<script src="/js/contrase単a.js"></script>