<LINK REL=StyleSheet HREF="/css/usuario/login.css" TYPE="text/css" MEDIA=screen>
<div id="login">
    <img src="/img/login.jpg">
</div>
<div id="azul"></div>
<div id="avatar">
    <img src="/img/avatar.png">
</div>
{{#each trae}}
<form action="/login/{{idUsuario}}" method="post">
    <div id="contenido">
        <div id="Email">
            <label>Correo Eléctronico</label>
            <input type="text" name="username" required value="{{username}}">
        </div>
        <div id="Password">
            <label>Contraseña</label>
            <input type="password" name="password" id="contraseña" required>
            <button id="noVer" onclick="contrasena.ocultarPassword()" type="button">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver" onclick="contrasena.mostrarPassword()" type="button">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Boton">
            <button type="submit">Ingresar</button>
        </div>
        <div id="Actualizar">
            <p>¿Has olvidado tu contraseña?</p>
            <a href="/actualizar/{{idUsuario}}">Recuperar</a>
        </div>
    </div>
</form>
{{/each}}
<script src="/js/contraseña.js"></script>