<link rel="stylesheet" href="/css/usuario/validacion.css">
<div id="validacion">
    <img src="/img/validacion.jpg">
</div>
<div id="azul"></div>
<form action="/validacion" method="post">
    <div id="email">
        <input type="text" name="username" required placeholder="Ingrese su correo electrónico">
        <button type="submit">Validar</button>
    </div>
</form> 