<link rel="stylesheet" href="/css/navegacion.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/img/logo.png" id="img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {{#if user}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gimnasio</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/gimnasio/agregar">Agregar información del Gimnasio</a>
                    <a class="dropdown-item" href="/gimnasio/listar">Lista de información del Gimnasio</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cliente/agregar">Agregar Clientes</a>
                    <a class="dropdown-item" href="/cliente/listar">Lista de Clientes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Horarios</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/horario/agregar">Agregar Horarios</a>
                    <a class="dropdown-item" href="/horario/listar">Lista de Horarios</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Suplementos</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clientes/add">Agregar Intructores</a>
                    <a class="dropdown-item" href="/clientes/list">Lista de Intructores</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Salud</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/salud/agregar">Agregar información de la salud del cliente</a>
                    <a class="dropdown-item" href="/salud/listar">Lista de la información de la salud del cliente</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Intructores</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clientes/add">Agregar Intructores</a>
                    <a class="dropdown-item" href="/clientes/list">Lista de Intructores</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/finalizar" id="cerrar">Cerrar Sesión</a>
            </li>
            {{else}}
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" id="session">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro" id="registro">Registrate</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>