<link rel="stylesheet" href="/css/usuario/actualizar.css">
<div id="imagen">
    <img src="/img/usuario.jpg" id="usuario">
    <div id="verde"></div>
    <img src="/img/avatar.png" id="avatar">
</div>
<form action="/actualizar" method="post">
    <div id="contenido">
        <div id="Password">
            <label>Nueva Contraseña</label>
            <input type="password" name="password" id="contraseña" required>
            <button id="noVer">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Password1">
            <label>Repetir Nueva Contraseña</label>
            <input type="password" name="password" id="repetir" required>
            <button id="noVer1">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver1">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Boton">
            <button type="submit">Actualizar</button>
        </div>
    </div>
</form>