<link rel="stylesheet" href="/css/usuario/registro.css">
<div id="imagen">
    <img src="/img/usuario.jpg" id="usuario">
    <div id="verde"></div>
    <img src="/img/avatar.png" id="avatar">
</div>
<form action="/login" method="post">
    <div id="contenido">
        <div id="Nombre">
            <label>Nombres:</label>
            <input type="text" name="nombres" required>
        </div>
        <div id="Apellido">
            <label>Apellidos:</label>
            <input type="text" name="apellidos" required>
        </div>
        <div id="Email">
            <label>Correo Eléctronico</label>
            <input type="text" name="username" required>
        </div>
        <div id="Password">
            <label>Contraseña</label>
            <input type="password" name="password" id="contraseña" required>
            <button id="noVer">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Password1">
            <label>Repetir Contraseña</label>
            <input type="password" name="password" id="repetir" required>
            <button id="noVer1">
                <img src="/img/password.jpg" id="password">
            </button>
            <button id="ver1">
                <img src="/img/password1.jpg" id="password1">
            </button>
        </div>
        <div id="Boton">
            <button type="submit">Registrar</button>
        </div>
    </div>
</form>