body{
    background-color: rgb(245, 222, 179);
}
#imagen{
    width: 20%;
}
#gris{
    background-color: rgba(2, 2, 2, 0.453);
    width: 100%;
    height: 100%;
    top: 7.3%;
    max-width: 100%;
    max-height: 22.7%;
    position: absolute;
}
#gris label{
    position: absolute;
    top: 35%;
    left: 42.5%;
    font-size: 25px;
    color: white;
}
#contenedor     {
    width: 100%;
    height: 100%;
    top: 30%;
    left: 5%;
    max-width: 90%;
    max-height: 80%;
    text-align: center;
    position: absolute;
}

#formulario{  
    background-color: rgb(96, 255, 123);
    position: absolute;
    top: 5%;
    left: 1%;
    width: 100%;
    height: 100%;
    max-width: 30%;
    max-height: 40%;
}
#nombres{
    position: absolute;
    top: 3%;
    left: 3%;
    text-align: center;
}
#apellidos{
    position: absolute;
    top: 3%;
    left: 39%;
    text-align: center;
}
#cedulas{
    position: absolute;
    top: 3%;
    left: 74%;
    text-align: center;
}
#edades{
    position: absolute;
    top: 30.5%;
    left: 3%;
    text-align: center; 
}
#telefonos{
    position: absolute;
    top: 30.5%;
    left: 35%;
    text-align: center;
}
#alturas{
    position: absolute;
    top: 30.5%;
    left: 78%;
    text-align: center;
}
#pesos{
    position: absolute;
    top: 60%;
    left: 3%;
    text-align: center; 
}
#edita{
    position: absolute;
    top: 60%;
    left: 15%;
}
#edita img{
    width: 30%;
    height: auto;
}
#agregaHorario{
    position: absolute;
    top: 69%;
    left: 65%;
    font-size: 20px;
}
#cliente a{
    font-size: 15px;
}