<link rel="stylesheet" href="/css/servicios/serviciosInicio.css">
<form action="/servicio" method="get"></form>
<div id="gris"></div>
<div id="menu">
    <button><a href="/menu">Menú</a></button>
</div>
<div id="entrenador">
    <button><a href="/entrenador">Entrenadores</a></button>
</div>
<div id="contenido">
    <div class="row">
        <div id="tarjeta">
            <div id="titulo">
                <h1>Titulo</h1>
            </div>
            <div id="servicios">
                <button><a href="/login">Unirse</a></button>
            </div>
            <div>'</div>
        </div>
    </div>
</div>