<link rel="stylesheet" href="/css/entrenadores/entrenadorInicio.css">
<form action="/entrenador" method="get"></form>
<div id="gris"></div>
<div id="menu">
    <button><a href="/menu">Menú</a></button>
</div>
<div id="servicio">
    <button><a href="/servicio">Servicios</a></button>
</div>
<div id="contenido">
    <div class="row">
        <div id="tarjeta">
            <div id="titulo">
                <h1>Titulo</h1>
            </div>
            <div id="contacto">
                <h2>Contacto</h2>
            </div>
            <div>'</div>
        </div>
    </div>
</div>