<LINK REL=StyleSheet HREF="/css/cliente/agregar.css" TYPE="text/css" MEDIA=screen>
<div id="img">
    <img src="/img/gimnasio.jpg">
</div>
<div id="gris">
    <label id="datos">Datos del Cliente</label>
</div>
<div id="contenido">
    <form action="/cliente/agregar/{{user.idUsuario}}" method="post">
        <div id="nombres">
            <label id="uno">Nombres:</label>
            <input type="text" name="nombres" id="nombre" checked>
        </div>
        <div id="apellidos">
            <label id="dos">Apellidos:</label>
            <input type="text" name="apellidos" id="apellido" checked>
        </div>
        <div id="cedulas">
            <label id="tres">Cédula:</label>
            <input type="number" name="cedula" id="cedula" checked>
        </div>
        <div id="edades">
            <label id="cuatro">Edad:</label>
            <input type="number" name="edad" id="edad" checked>
        </div>
        <div id="telefonos">
            <label id="cinco">Teléfono</label>
            <input type="number" name="telefono" id="telefono" checked>
        </div>
        <div id="alturas">
            <label id="seis">Altura:</label>
            <input type="text" name="altura" id="altura" checked>
        </div>
        <div id="pesos">
            <label id="siete">Peso:</label>
            <input type="text" name="peso" id="peso" checked>
        </div>
        <div id="Boton1">
            <button type="submit" id="edita"><img src="/img/guardar.png" id="imagen1"></button>
        </div>
    </form>
</div>