#imagen{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 300px;
    top: 7.3%;
    position: absolute;
}
#usuario{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#verde{
    background-color: rgba(62, 128, 36, 0.623);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 300px;
    top: 0%;
    position: absolute;
}
#contenido{
    width: 100%;
    height: 100%;
    max-width: 420px;
    max-height: 350px;
    top: 53%;
    left: 36.5%;
    position: absolute;
}
#avatar{
    width: 10%;
    height: 50%;
    top: 60%;
    left: 45%;
    position: absolute;
}
label{
    font-size: 20px;
    color: black;
}
#Nombre{
    width: 100%;
    top: 0%;
    position: absolute;
}
#Nombre Input{
    width: 100%;
}
#Apellido{
    width: 100%;
    top: 20%;
    position: absolute;
}
#Apellido Input{
    width: 100%;
}
#Email{
    width: 100%;
    top: 40%;
    position: absolute;
}
#Email input{
    width: 100%;
}
#Password{
    width: 100%;
    top: 60%;
    position: absolute;
}
#Password Input{
    width: 100%;
}
#Password1{
    width: 100%;
    top: 80%;
    position: absolute;
    
}
#Password1 Input{
    width: 100%;
}
#ver{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 59%;
    left: 90%;
}
#noVer{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 59%;
    left: 90%;
}
#ver1{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 59%;
    left: 90%;
}
#noVer1{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 59%;
    left: 90%;
}
#password{
    width: 30px;
}
#password1{
    width: 30px;
}
#Boton{
    position: absolute;
    top: 105%;
    left: 37%;
}
#Boton button{
    font-size: 20px;
    border-color: transparent;
    background-color: rgba(95, 153, 24, 0.589);
    border-radius: 10px;
}
