.responsive{
	width:100%;
    height:auto;
    border-radius:150px;
	color: #fff;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: rgb(27, 44, 38);
	width: 220px; 
	top:40%
}

.responsive1{
	width:100%;
    height:auto;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 220px; 
	top:40%
}

.nombre{
	width: 100%;
	height:auto;
	left: 50%;
	position: absolute;
	background: transparent;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 1px solid #2d9fd9;
  	padding: 10px;
  	border-radius: 20px 20px;
	width: 220px; 
	top: 47%;
}
.contraseña{
	width: 100%;
	height:auto;
	left: 50%;
	position: absolute;
	background: transparent;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 1px solid #2d9fd9;
  	padding: 10px;
  	border-radius: 20px 20px;
	width: 220px; 
	top: 55%;
}

.boton{
	position: absolute;
	text-align: center;
	width: 100%;
	height:auto;
	left: 50%;
	background-color: rgba(10, 101, 238, 0.89);;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 1px solid #2d9fd9;
  	padding: 10px;
	width: 220px; 
	top: 65%;
}

.registro{
	width: 100%;
	height:auto;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
  	padding: 10px;
	width: 220px; 
	top: 70%;
}