body{
	background-color: rgb(201, 194, 194);
	color: black;
	font-family: 'Itim', cursive;
	font-style: italic;
	font-weight: bolder;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	padding: 0%;
}

input{
	text-align: center;
	overflow: hidden;
	display: flex;
}

textarea{
	border-radius: 20px;
	overflow: hidden;
	display: flex;
}
button{
	border-radius: 20px;
	overflow: hidden;
	display: flex;
}

@media(max-width: 840px){
	textarea{
		grid-template-columns: repeat(3, 1fr);
		height: auto;
	}
}

@media(max-width: 600px){
	textarea{
		grid-template-columns: repeat(1, 1fr);
		height: auto;
	}
}