#contenedor{
    position: absolute;
    left: 350px;
    width: 70%;
    top: 80px;
}

#gimnasio{
    position: absolute;
    left: 750px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    top: 550px;
}

#boton{
    position: absolute;
    left: 90px;
    background-color: rgb(0, 140, 255);
    border-radius: 20px;
    border-color: transparent;
}

#registra{
    color: white;
}

#mensaje{
    
}