#imagen{
    width: 5%;
}

#edita{
    font-size: 220px;
    margin-left: 320px;
}

#contenido{
    position: absolute;
    margin-left: 80px;
    padding-top: 130px;
    gap: 10px;
    width: 80%;
}

#lista{
    position: absolute;
    font-size: 25px;
    top: 70px;
    left: 500px;
}

label{
    font-style: oblique;
    font-weight: bolder;
    font-size: 15px;
}

p{
    text-align: justify;
    width: 50%;
}

#ocias{
    position: absolute; 
    margin-left: 0px;
}
#cero{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#musuclar{
    position: absolute; 
    margin-left: 140px;   
}
#uno{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#enfermedades{
    position: absolute; 
    margin-left: 320px;   
}
#dos{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#vicios{
    position: absolute; 
    margin-left: 0px;
    top: 200px;
}
#tres{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#embarazos{
    position: absolute; 
    margin-left: 140px; 
    top: 200px;  
}
#cuatro{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#dificultades{
    position: absolute; 
    margin-left: 320px;  
    top: 200px; 
}
#cinco{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#actividades{
    position: absolute; 
    margin-left: 0px;
    top: 250px;
}
#seis{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}

#entidades{
    position: absolute; 
    margin-left: 180px; 
    top: 250px;  
}
#siete{
    position: absolute;
    height: 25px;
    top: 10px;
    padding: 10px;
    left: 10px;
    text-align: justify;
}