<link rel="stylesheet" href="/css/gimnasio/gimnasioInicio.css">
<form action="/gimnasio" method="get"></form>
<div id="gris"></div>
<div id="contenido">
    <div class="row">
        <div id="tarjeta">
            <div id="titulo">
                <h1>Titulo</h1>
            </div>
            <div id="servicios">
                <button><a href="/servicio">Servicios</a></button>
            </div>
            <div>'</div>
        </div>
    </div>
</div>