<link rel="stylesheet" href="/css/menu/menuInicio.css">
<form action="/menu" method="get"></form>
<div id="imagen">
    <img src="/img/menu.jpg" id="menu">
</div>
<div id="texto">
    <h1>Alimentate sano</h1>
    <p>Recetas disponibles</p>
</div>
<div id="gris"></div>
<div id="verde"></div>
<div id="contenido">
    <div id="comida">
        <img src="/img/comida.jpg" id="imgComida">
    </div>
    <div id="titulo">
        <h1>Titulo</h1>
        <p>Texto</p>
    </div>
</div>